section {
  padding: 20px;
  margin: 0 auto;
  border: 1px solid $medium-grey;
  border-radius: 4px;
  max-width: 1024px;
  background-color: $white;
}

.section-title {
  @media (min-width: 1200px) {
    margin: 0 auto;
  }
}
