<div class="valtech" style="grid-template-columns: repeat({{columns}}, {{size}});grid-template-rows: repeat({{rows}}, {{size}});">
  {{#each icon}}
    {{> '@pixel' color=this.color area=this.area size=../this.size}}
  {{/each}}
</div>