.card {
  $header: &;
  display: flex;
  color: var(--black);

  &-box {
    transition: all ease-in 0.1s;
    background: #ffffff;
    box-shadow: 0px 0px 20px #0000001a;
    border-radius: 4px;
    margin: 18px 20px 18px 0px;
    width: 240px;
    flex: 1;
    display: flex;
    &:hover {
      box-shadow: 0px 0px 20px #0000002d;
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
  }

  &-body {
    margin-bottom: 50px;
  }

  &-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-size: 28px;
    font-weight: var(--light);
    line-height: 32px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &-name {
    font-size: 16px;
    font-weight: var(--semiBold);
    line-height: 16px;
  }

  &-jobTitle {
    font-size: 13px;
    color: var(--mediumGrey);
    margin: 5px 0px;
  }

  &-duration {
    font-size: 12px;
    color: var(--blackGrey);
  }

  &-time {
    display: flex;
    align-items: center;
    svg {
      margin-right: 8px;
    }
  }

  @media (min-width: 1439px) {
    width: fit-content;
    &-box {
      width: 280px;
      margin: 18px 32px 18px 0px;
    }
  }
}
