:root {
  //Colors
  --black: #000000;
  --white: #ffffff;
  --blue: #5cd0fe;
  --lightGrey: #eeeeee;
  --mediumGrey: #777777;
  --blackGrey: #111111;

  //Font-weights
  --thin: 100;
  --extraLight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --extraBold: 800;
  --blackWeight: 900;
}
