<nav class="nav">
  <a class="nav-link active" href="#">ALL</a>
  <a class="nav-link" href="#">DEVELOPMENT</a>
  <a class="nav-link" href="#">DESIGN</a>
  <a class="nav-link" href="#">PROJECT MANAGEMENT</a>
</nav>
