// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$black: #000000;
$dark-grey: #444444;
$medium-grey: #a5a5a5;
$light-grey: #F9F9F9;
$white: #ffffff;

$alert-red: #d80c0c;
$success-green: #9eb356;
$info-orange: #e66c10;
