// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$black: #000000;
$dark-grey: #444444;
$dark-gray: #777777;
$medium-grey: #a5a5a5;
$light-grey: #f9f9f9;
$white: #ffffff;

$alert-red: #d80c0c;
$success-green: #9eb356;
$info-orange: #e66c10;

$title-shadow: #f0f0f0;
