<div class="block">
	<h2 class="section-title shadow">Session Title</h1>
	<h2 class="section-title">Session Title</h1>
	<a href="#" class="tab-item">Tab Item</a>
	<h3 class="card-title">Card Title</a></h3>

	<h6 class="creator-name">Creator Name</h1>
	<p class="creator-title">Creator title</p>
	<small class="podcast-duration">Podcast duration</small>
</div>