<div class="block">
	<h1>Sample text H1</h1>
	<a href="#"><h1>Sample text H1 with links</h1></a>
	<h1>Sample text H1<a href="#">with inner link</a></h1>
	<h1 class="h1--alternate">Sample text H1 Alternate</h1>

	<h2>Sample text H2</h2>
	<h3>Sample text H3</h3>
	<h4>Sample text H4</h4>
	<h5>Sample text H5</h5>

	<p>Paragraph big  Votre mot de passe doit contenir au moins huit (8) caractères, dont au moins un (1) caractère numérique, au moins une (1) lettre majuscule et au moins une (1) lettre minuscule. Votre mot de passe peut être modifié en tout temps dans <a href="#">votre profil</a> (voir « Mon profil », en haut à gauche de l’écran, sous votre nom).</p>
</div>