a {
  &.link {
    cursor: pointer;
    position: relative;
    font-family: $font-regular;
    font-weight: 700;
    font-size: 13px;
    background: $white;
    border: 2px solid $black;
    color: $black;
    text-transform: uppercase;
    padding: rem(16px 32px);
    min-height: rem(18px);
    min-width: rem(146px);
    display: inline-block;
    text-align: center;
    overflow: hidden;
  }
  &:hover {
    color: $black;
  }
}
