.btn-0 {
  position: relative;
  font-family: $font-regular;
  font-weight: 700;
  background: $white;
  outline: 2px solid $black;
  border: 0;
  color: $black;
  text-transform: uppercase;
  padding: rem(10px 30px);
  min-height: rem(45px);
  min-width: rem(165px);
  display: inline-block;
  text-align: center;
  overflow: hidden;

  &::before{
    transition: all 0.65s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		content: '';
		width: 0%;
		height: 100%;
		background: $black;
		position: absolute;
		top: 0;
    left: 0;
    margin: 0px;
    cursor: pointer;
	}
	& .btn-0-text{
		color: $white;
		mix-blend-mode: difference;
	}
	&:hover{
		&::before{
			background: $black;
      width: 100%;
      cursor: pointer;
    }
    color: $black;
    text-decoration: none;
	}

  &:active {
      transform: scale(0.9);
      transition: 0.2s;
  }

  &--icon {
    font-size: rem(24px);
    display: flex;
    align-items: center;
    justify-content: space-between; 

    & > *:first-child {
      padding-right: rem(10px);
    }
  }
}

.btn-0-text{
  font-size: 13px;
}