.btn {
  position: relative;
  font-weight: 700;
  background: $white;
  border: 2px solid $black;
  color: $black;
  text-transform: uppercase;
  padding: 16px 32px;
  display: block;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  margin: 0 auto;
  margin-top: 6px;
  &--view-more {
    font-size: 16px;
    margin: 4rem auto;
  }
}
