.circle {
  background: $blue;
  left: -450px;
  top: -100px;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  z-index: -1;
  @media only screen and (max-width: 1020px) {
    opacity: 0;
  }
}
