.cookie-banner {
  padding: 30px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #FFF;
  z-index: 999;
  padding: 30px 40px;

  &__close {
    float: right;
    cursor: pointer;
  }

  &__content {
    padding-top: 20px;
  }

  button {
    margin-top: 20px;
  }
}
