.episode-duration {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #000;
  svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .icon-play {
    margin-right: 10px;
  }
}
