.fade-transition {
  &-enter-active, &-leave-active {
    transition: opacity .3s ease;
    z-index: 1;
  }
  &-enter-to, &-leave {
    opacity: 1;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.slide-up-transition {
  &-enter-active, &-leave-active {
    transition: transform .3s ease;
  }
  &-enter-to, &-leave {
    transform: translateY(0);
  }
  &-enter, &-leave-to {
    transform: translateY(100%);
  }
}