// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$black: #000000;
$dark-grey: #111111;
$medium-grey: #777777;
$light-grey: #F0F0F0;
$shadow-color: #F0F0F0;
$background: #F9F9F9;
$white: #ffffff;
$primary: #5CD0FE;

$alert-red: #d80c0c;
$success-green: #9eb356;
$info-orange: #e66c10;
