<ul class="nav nav-tabs">
  <li
    class="nav-item"
  >
    <a
      class="nav-link active"
      href="#new"
      >New</a
    >
  </li>
  <li
    class="nav-item"
  >
    <a
      class="nav-link"
      href="#new"
      >Development</a
    >
  </li>
  <li
    class="nav-item"
  >
    <a
      class="nav-link"
      href="#new"
      >Designer</a
    >
  </li>
  <li
    class="nav-item"
  >
    <a
      class="nav-link"
      href="#new"
      >Product Management</a
    >
  </li>
</ul>
