<div class="container-sm podcast-template">
    <div class="row">
        {{render '@section-title'}}
    </div>
    <div class="row">
        {{render '@card-carousel'}}
    </div>
    <div class="row">
        {{render '@cta'}}
    </div>
</div>