// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$black: #000000;
$dark-grey: #444444;
$grey-text: #777777;
$black-text: #111111;
$light-grey-text: #f0f0f0;
$medium-grey: #a5a5a5;
$light-grey: #efefef;
$white: #ffffff;
$bg-color: #f9f9f9;
$bg-color-blue: #5dd1ff;

$alert-red: #d80c0c;
$success-green: #9eb356;
$info-orange: #e66c10;
