<div class="hide-on-load">
    <cookie-banner button-text="Confirm">
        <div slot="cookie-banner-text">
            Cookies help us improve your website experience. By using our website, you agree to our use of cookies.
        </div>
    </cookie-banner>
</div>

