<div class="component-wrapper">
  <form style="max-width: 50%;">
    <form-input name="input1" type="text" placeholder="Dummy Input without label"></form-input>
    <form-input name="input2" type="text" placeholder="Dummy Input with label" label="Input Label"></form-input>
    <form-input name="input3" type="text" placeholder="Dummy Input with label" label="Input Label with Validation" :is-valid=false error-text="Error message for this field"></form-input>
  </form>
</div>