<article class="card">
  <div class="card-header">
    {{> "@heading-2"}}
    {{> "@heading-3"}}
    {{> "@heading-4"}}
  </div>
  <div class="card-footer">
    <button aria-label="Play">{{ render "@play"}}</button>
    {{ render "@duration"}}
  </div>
</article>
