<article class="card">
  <div class="top">
    {{> '@title-card' this}}
    {{> '@author-card' this}}
    {{> '@responsibility-card' this}}
  </div>
  <div class="bottom">
    {{> '@icon-play' this}}
    {{> '@listen-time' this}}
  </div>
</article>
