.input-group {
  display: flex;
  flex-wrap: wrap;

  .input-group-icon {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 13px;
    border-radius: 4px 0px 0px 4px;
  }
  .input-group-row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 15px;
  }
  .button {
    width: 100%;
  }

  @media (min-width: 1440px) {
    flex-wrap: nowrap;
    .input-group-row {
      width: auto;
      margin-bottom: 0px;
    }
    .button {
      border-radius: 0px 4px 4px 0px;
    }
  }
}
