<div class="d-flex">
    <img style="width: 40px; height: 40px" src="{{path '/images/clock.png'}}" alt="clock icon">
  <span class="as-center" style="padding-left: 10px ;">
    {{duration.time}} {{duration.unitOfTime}}
  </span>
</div>
