<div class="section title-subsection">
  <div class="container">
    <h2 class="section-title shadow">{{title}}</h2>
    <div class="row">
      <h2 class="section-title title {{#if withDivider}}divider{{/if}}">{{title}}</h2>
    </div>
  </div>
</div>