<div class="section-title-wrapper">
  <h2 class="section-title shadow">{{title}}</h2>
  <div class="container">
    <div class="row">
      <h2 class="section-title title {{#if withDivider}}divider{{/if}}">{{title}}</h2>
    </div>
  </div>
</div>