.card-template {
  background: $white 0% 0% no-repeat padding-box;
  border: 0 !important;
  border-radius: 4px;
  box-shadow: 0px 0px 20px $card-shadow;
  cursor: pointer;
  height: 40vh;
  max-width: 240px;
  max-height: 380px;
  min-height: 320px;
  padding: 16px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  width: 16rem;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }

  & a {
    color: $black;
  }
}

.card-title {
  color: $black;
  font-family: $font-regular;
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-align: left;
  text-transform: uppercase;
  width: 10.5rem;
}

.card-sub-title {
  color: $black;
  font-family: $font-regular;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
}

.card-text {
  color: $grey;
  font-family: $font-regular;
  font-weight: normal;
  font-size: .8rem;
  line-height: .75rem;
  text-align: left;
}

.footer-card {
  bottom: 2rem;
  position: absolute;
  
  & .duration {
    float: right;
    left: 75px;
    position: relative;

    & svg {
      display: inline-block;
      line-height: normal;
      margin-right: 5px;
      vertical-align: middle;
    }

    & span {
      color: $black;
      display: inline-block;
      font-family: $font-regular;
      font-weight: normal;
      font-size: .75rem;
      line-height: .75rem;
      text-align: right;
      vertical-align: middle;
    }
  }
}
