<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Facebook Open Graph META Tags" />
    <meta property="og:image" content="http://www.placehold.it/500x200" />
    <meta property="og:site_name" content="L'Oreal Fractal" />
    <meta property="og:description" content="Facebook's Open Graph protocol allows for web developers to turn their websites into Facebook " graph " objects, allowing a certain level of customization over how information is carried over from a non-Facebook website to Facebook when a page is 'recommended', 'liked', or just generally shared."/>
    <link rel="stylesheet" href="{{ path '/bundle.css' }}">
    <title>Preview</title>
</head>

<body class="body-loaded">
    <div style="display: none">
        <?xml version="1.0" encoding="utf-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
    </div>
    <div id="main-container" key="main_container_key">
        {{{ yield }}}
    </div>
    <script src="{{ path '/bundle.js' }}"></script>
</body>

</html>