<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Valtech - The Podcast" />
    <meta property="og:image" content="http://www.placehold.it/500x200" />
    <meta property="og:site_name" content="Valtech - The Podcast" />
    <meta property="og:description" content=""/>
    <link rel="stylesheet" href="{{ path '/styles/bundle.css' }}">
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <title>Valtech - The Podcast</title>
</head>

<body class="body-loaded">
    <div style="display: none">
        <?xml version="1.0" encoding="utf-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
    </div>
    <div id="main-container" key="main_container_key">
        {{{ yield }}}
    </div>
    <script src="{{ path '/scripts/bundle.js' }}"></script>
</body>

</html>