<div class="section-title">
    {{> '@pixel' color=this.pixel.color area=this.pixel.area size=this.pixel.size}}
    {{> '@section-title-shadow' this}}
    {{> '@section-title-text' this}}
    {{> '@section-title-line' this}}
</div>