section {
  &.section-cta {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  section {
    &.section-cta {
      a {
        &.link {
          background-color: #00d3ff;
          border: none;
        }
      }
    }
  }
}
