.the-podcast-component {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: rem(350px);
  font-size: rem(24px);

  form {
    width: 100%;
    text-align: center;

    & > *:not(.btn) {
      margin: rem(10px);
      display: block;
    }

    input {
      width: 100%;
      background: transparent;
      border: 2px solid black;
      min-height: rem(40px);
    }

    button {
      margin: rem(20px) auto;
    }
  }
  .text-above-logo {
    color: $black;
    text-align: center;
    letter-spacing: 1.4px;
    font-family: $font-regular;
    font-weight: 300;
    font-size: rem(28px);
    line-height: rem(28px);
  }

  .blue-bar {
    background: #5CD0FE 0% 0% no-repeat padding-box;
    min-height: rem(2px);
    max-width: rem(110px);
    transform: translateX(30px);
  }
}